* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgb(204, 225, 253);
  background-color: #153e70;
}

a {
  text-decoration: none;
  color: #3981da;
  font-weight: bold;
  transition: color .1s;
  margin: 5px;
}

a:hover {
  color: #2d7ac2;
}

button {
  background-color: #d7e052;
  border: 0;
  padding: 1%;
  color: rgb(62, 137, 223);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #14308d;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: 1%;
  border-radius: 5px;
  border: 1px solid rgb(71, 120, 226);
}

.padded-multiline { 
  line-height: 1.3; 
  padding: 2px 0; 
  border-left: 20px solid #c0c;
  width: 400px;
  margin: 20px auto;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(24, 129, 250);
  background-color: #d7e052;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}

header h1 {
  font-size: 3em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #2674d4;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #04162c;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ffab3d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  border: 1px solid rgb(24, 129, 250);
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #0f0a0a;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  font-size:small;
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #1044b4;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

#email-login, #password-login, #username-signup, #email-signup, #password-signup {
  padding: .5%;
}

footer {
  border-top: 1px solid rgb(161, 196, 219);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}