* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgb(196, 218, 247);
  background-color: #0b2a50;
}

a {
  text-decoration: none;
  color: #accef8;
  font-weight: bold;
  transition: color .1s;
  margin: 5px;
}

a:hover {
  color: #005cb3;
}

.main-title {
  color:#00ccff;
  text-shadow: 0 0 10px rgba(7, 95, 177, 0.5);
  font-weight: 800;
}

button {
  background-color: #d7e052;
  border: 0;
  padding: 1%;
  color: rgb(91, 162, 243);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #14308d;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: 1%;
  border-radius: 5px;
  border: 1px solid rgb(71, 120, 226);
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
   top: 0;
  background-color: #d7e052;
  justify-content: space-between;
  display: flex;
  background-image: url("https://files.techmahindra.com/static/img/hi-tech-enterprise-smart-assistant.jpg");
  align-items: center;
  padding: 2% 1%;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  z-index: 9999;
}

header h1 {
  font-size: 4em;
  color:#081d36;
}

main {
  color: #11b6b6;
  background-color: #153e70;
  height: 100%;
  width: 100%;
  padding: 2%;
  margin-bottom: 2em;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #2674d4;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #04162c;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ffab3d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  border: 1px solid rgb(24, 129, 250);
}

.post .title .text span {
  font-style: italic;
  flex-wrap: wrap;
  font-size: 90%;
  color: #0f0a0a;
}

.edit-link {
  display: block;
  border: #00ccff;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  font-size:small;
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #1044b4;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
  height: 100%;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
<<<<<<< HEAD
    margin-bottom: 10%;
=======
  margin-bottom: 5%;
>>>>>>> 01d4efdcea21da496243b477905f29faf416c3f9
}

#email-login, #password-login, #username-signup, #email-signup, #password-signup {
  padding: .5%;
}

footer {
  border-top: 1px solid rgb(161, 196, 219);
  margin-bottom: 0%;
  background-color: #0c9191;
  opacity: 80%;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 100%;
}